stage: dev
profile: default
github:
  username: yourusername
  auth_token: dwhateveryourgithubauthtokenisgoeshere29
twitter:
  consumer_key: jaosidjfaosidjfoasidjfo2asidjf9a84f
  consumer_secret: jaosidjfaosidjfoasidjfo2asidjf9a84f
  access_token_key: jaosidjfaosidjfoasidjfo2asidjf9a84f
  access_token_secret: jaosidjfaosidjfoasidjfo2asidjf9a84f
